<nav class="page-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink=".">Product</a></li>
        <li class="breadcrumb-item active" aria-current="page">List</li>
    </ol>
</nav>


<div class="row">
    <div class="col-md-12 stretch-card">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title">All Products</h6>

                <div class="table-responsive">
                    <table id="dataTableExample" class="table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Url</th>
                                <th>Description</th>
                                <th>Slug</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let product of productList">
                                <td>{{product.id}}</td>
                                <td>{{product.name}}</td>
                                <td>{{product.url}}</td>
                                <td>{{product.description}}</td>
                                <td>{{product.slug}}</td>
                                <td>
                                    <div ngbDropdown>
                                        <a role="button" ngbDropdownToggle><i class="mr-2" data-feather="more-vertical"
                                                id="gfg" appFeatherIcon></i></a>

                                        <div ngbDropdownMenu="gfg">
                                            <!-- <a href="product/edit?slug={{product.slug}}" ngbDropdownItem>Edit </a> -->
                                            <!-- <button ngbDropdownItem>Change
                                                Role</button> -->
                                            <button (click)="deleteProductVideo(product.id)"
                                                ngbDropdownItem>Delete</button>


                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>