<nav class="page-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink=".">Product</a></li>
        <li class="breadcrumb-item active" aria-current="page">List</li>
    </ol>
</nav>


<div class="row">
    <div class="col-md-12 stretch-card">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title">All Products</h6>

                <div class="table-responsive">
                    <table id="dataTableExample" class="table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Title</th>
                                <th>Images</th>
                                <th>Atrributes</th>
                                <th>Category</th>
                                <th>Video URL</th>
                                <th>Rating</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let product of productList">
                                <td>{{product.id}}</td>
                                <td>{{product.title}}</td>
                                <td *ngIf="product.images">
                                    <div *ngFor="let image of product.images">
                                        <img *ngIf="image.url" src="{{image.url}}" />
                                    </div>
                                </td>
                                <td>
                                    <thead>
                                        <div class="d-flex flex-column">
                                            <th class="p-2">Size</th>
                                            <th class="p-2">Color</th>
                                            <th class="p-2">Quantity</th>
                                            <th class="p-2">Price</th>
                                            <th class="p-2">Discounted Price</th>
                                        </div>
                                    </thead>
                                </td>

                                <td *ngFor="let attribute of product.attributes">
                        <tbody>
                            <div class="d-flex flex-column">
                                <td class="p-2">{{attribute.size}}</td>
                                <td class="p-2">{{attribute.color}}</td>
                                <td class="p-2">{{attribute.qty_in_stock}}</td>
                                <td class="p-2">{{attribute.price}}</td>
                                <td class="p-2">{{attribute.discounted_price}}</td>
                            </div>

                        </tbody>
                        </td>
                        </tr>
                        </tbody>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<nav class="settings-sidebar">
    <div class="sidebar-body">
        <a href="product/add" class="settings-sidebar-toggler">
            <i class="feather icon-plus"></i>
        </a>
    </div>
</nav>