<nav class="page-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/orders/list">Orders</a></li>
        <li class="breadcrumb-item active" aria-current="page">Detail</li>
    </ol>
</nav>

<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="order-edit-delete">
                    <h4 class="card-title">Orders Detail</h4>
                <!-- <p class="card-description mb-0">Manage users</p> -->
                <div >
                    <button class="btn" (click)="onEditClick(detail.id)" > <i data-feather="edit" appFeatherIcon></i></button>
                    <a class="btn" href="/"> <i data-feather="trash-2" appFeatherIcon></i></a>
                </div>
                </div>
                
                <div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Order ID</th>
                                <th>Address</th>
                                <th>Delivery Status</th>
                                <th>Price</th>
                                <th>User ID</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{detail.id}}</td>
                                <td>{{address.firstName}} {{'  '}}{{address.lastName}}
                                    <div style="white-space:pre-wrap">{{address.address1}}</div>
                                    <div style="white-space:pre-wrap">{{address.postcode}}</div>
                                    <div style="white-space:pre-wrap">{{address.state}}</div>
                                </td>
                                <td>{{detail.deliveryStatus}}</td>
                                <td>{{detail.priceAfterTax}}</td>
                                <td>{{detail.userId}}</td>
                                <!-- <td>
                                    <div ngbDropdown>
                                    <a role="button" ngbDropdownToggle><i class="mr-2" data-feather="more-vertical"
                                        id="gfg" appFeatherIcon></i></a>

                                        <div ngbDropdownMenu="gfg">
                                            <button type="button" class="btn btn-danger"  >Change Address</button>
                                            <div style="white-space:pre-wrap ,margin:0"><button type="button" class="btn btn-success">Change Status</button></div>
                                        </div>
                                </div>
                            </td> -->
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>

        </div>
    </div>
</div>


