<nav class="page-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/categories">Category</a></li>
        <li class="breadcrumb-item active" aria-current="page">Edit category</li>
    </ol>
</nav>

<div class="row">
    <div class="col-md-12 stretch-card">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title">Edit Category</h6>
                <form [formGroup]="categoryForm">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group m-2 p-2">
                                <label class="control-label">Title</label>
                                <input formControlName="title" type="text" class="form-control " value={{detail.title}}
                                    placeholder="Category Title">
                            </div>
                        </div>
                        <!-- <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Icon</label>
                                <input formControlName="firstName" type="text" class="form-control ">
                            </div>
                        </div> -->
                        <!-- <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Status</label>
                                <div>
                                    <div>
                                        <input type="radio" formControlName="status" value="0"> Active
                                    </div>

                                    <div>
                                        <input type="radio" formControlName="status" value="1"> Not Active
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <div class="col-sm-6">
                            <div class="form-group m-2 p-2">
                                <label class="control-label">
                                    Icon
                                </label>
                                <input type="file" data-id="{{detail.id}}" #icon hidden (change)="uploadIcon($event)" />
                                <button type="button" class="btn btn-outline-info btn-icon-text mr-2 d-none d-md-block"
                                    (click)="icon.click()">
                                    <i class="btn-icon-prepend" data-feather="upload" appFeatherIcon></i>
                                    upload
                                </button>
                            </div>
                        </div>

                    </div>

                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary submit">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>