<nav class="page-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/users">Category</a></li>
        <li class="breadcrumb-item active" aria-current="page">Add category</li>
    </ol>
</nav>

<div class="row">
    <div class="col-md-12 stretch-card">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title">Add Category</h6>
                <form [formGroup]="categoryForm" (submit)="submitForm()">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Title</label>
                                <input formControlName="title" type=" text" class="form-control " value={{detail.title}}
                                    placeholder="Category Title">
                            </div>
                        </div>

                    </div>

                    <div class="d-flex justify-content-center m-3 p-3">
                        <button type="submit" class="btn btn-primary submit">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>